@use "sass:list";
@use "sass:map";

$total-col-count: 12;

$default-row-option: (
  direction: ltr,
  is-gapless: false,
  justify-content: start,
  align-content: start,
);

$default-col-option: (
  count: 12,
  size: m,
);
