$default-option: (
  appearance: "transparent",
  align: start,
  is-gapless: false,
  density: normal,
  size: m,
);

$available-align: (
  start,
  center,
);

$available-appearance: (
  "transparent",
  "outlined",
);
