@use "sass:map";
@use "@pepabo-inhouse/adapter/functions" as adapter;
@use "@pepabo-inhouse/skeleton/mixins" as skeleton;
@use "./variables";

@mixin style($option: variables.$default-option) {
  $option: map.merge(variables.$default-option, $option);

  @include -proto(
    $size: map.get($option, size)
  );

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin skeleton-style($option: variables.$default-option) {
  $option: map.merge(variables.$default-option, $option);

  @include -proto(
    $size: map.get($option, size)
  );

  ._skeleton {
    @include skeleton.style;

    display: block;
    aspect-ratio: 1 / 1;
  }
}

@mixin -proto($size: m) {
  box-sizing: border-box;
  width: adapter.get-thumbnail-width($level: $size);
  height: adapter.get-thumbnail-height($level: $size);
  overflow: hidden;
  border-radius: adapter.get-thumbnail-radius-size();
}
