@use "@pepabo-inhouse/adapter/functions" as adapter;

$default-option: (
  appearance: filled,
  color: primary,
  gapless: false,
  shape: circle,
);

$available-appearance: (
  elevated,
  filled,
  outlined
);

