@use "sass:list";
@use "sass:map";
@use "@pepabo-inhouse/adapter/functions" as adapter;

@function get-horizontal-gap($boundary-size-level) {
  $available-boundary-size-levels: xxs, xs, s, m, l, xl, xxl;

  @if list.index($available-boundary-size-levels, $boundary-size-level) == null {
    @error "get-horizontal-gap($boundary-size-level)の$boundary-size-levelには #{$available-boundary-size-levels} のいずれかのみ指定できます。";
  }

  $value: adapter.get-gap-size($level: $boundary-size-level);

  @if $value == null {
    @error "container-gap(#{$boundary-size-level})が存在しないflavorとなってしまっています。flavorの設定を確認してください。";
  }

  @return $value;
}
